<a href="https://colab.research.google.com/github/jkm2000korea/master_degree/blob/main/2%EC%A3%BC%EC%B0%A8_Data_Preprocessing_20240311.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
from google.colab import drive
drive.mount('/content/drive')
os.chdir('/content/drive/MyDrive/Colab Notebooks/데이터마이닝_2024/예제 데이터')
import pandas as pd
import numpy as np

Mounted at /content/drive

In [ ]:
#1. Read csv file
df = pd.read_csv('datacleaning.csv')
df

#모든 행을 보고 싶을 경우
#pd.set_option('display.max_rows', None) 설정

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
0,1,539-84-9599,10.26.44,72,East,0.0,62900,4,2080
1,2,444-05-4079,01.01.32,67,West,NaN,23300,0,0
2,3,418-18-5649,08.17.73,25,East,1.0,48700,8,3990
3,4,065-63-3311,08.02.47,51,West,1.0,137600,2,920
4,5,059-58-9566,10.03.48,50,East,0.0,101400,2,1000
...,...,...,...,...,...,...,...,...,...
1495,1496,347-70-0762,09.28.65,33,West,0.0,71800,2,970
1496,1497,638-19-2849,07.31.30,68,South,0.0,121100,5,2540
1497,1498,670-57-4549,07.21.54,44,North,1.0,64000,4,2160
1498,1499,166-84-2698,10.30.66,32,South,0.0,91000,6,2910
1499,1500,366-03-5021,09.23.34,64,South,0.0,121400,1,530

In [ ]:
#2. Summarize the dataset
print(df.shape)   #데이터프레임 형태 정보 제공
print(df.describe())    #각 변수에 대한 기초통계 정보 제공

(1500, 9)
          Customer          Age  CredCardUser         Income    Purchases  \
count  1500.000000  1500.000000   1493.000000    1500.000000  1500.000000
mean    750.500000    45.792000      0.396517   89740.211333   122.901333
std     433.157015    15.226138      0.489338   41302.183117  1088.786866
min       1.000000   -31.000000      0.000000      22.000000     0.000000
25%     375.750000    34.000000      0.000000   55450.000000     2.000000
50%     750.500000    47.000000      0.000000   90100.000000     3.000000
75%    1125.250000    58.000000      1.000000  124825.000000     4.000000
max    1500.000000    72.000000      1.000000  160000.000000  9999.000000

       AmountSpent
count  1500.000000
mean   1560.954667
std    1244.909343
min       0.000000
25%     940.000000
50%    1460.000000
75%    2020.000000
max    9999.000000

In [ ]:
#3. Examine values based on the orders
print(df.sort_values('Age', ascending=True))   #True: 오름차순(default)
print(df.sort_values('Age', ascending=False))   #False: 내림차순

      Customer          SSN Birthdate  Age Region  CredCardUser  Income  \
147        148  237-88-3817  08.11.29  -31  South           0.0   63800
1194      1195  806-70-0226  10.14.28  -30   West           0.0   40600
439        440  618-84-1169  10.19.28  -30   West           1.0  113600
425        426  968-16-0774  09.29.28  -30  North           0.0   68400
1309      1310  380-84-2860  10.17.28  -30   West           0.0   91800
...        ...          ...       ...  ...    ...           ...     ...
644        645  086-39-4715  05.17.27   71  North           0.0  155300
485        486  364-94-9180  05.17.27   71   West           0.0  116500
606        607  626-04-1182  05.17.27   71  South           1.0   75900
63          64  205-84-3572  05.17.27   71   East           0.0   50500
0            1  539-84-9599  10.26.44   72   East           0.0   62900

      Purchases  AmountSpent
147           8         3960
1194          4         1960
439           1          470
425           2         1100
1309          2          980
...         ...          ...
644           5         2480
485           2         1040
606           3         1540
63            1          490
0             4         2080

[1500 rows x 9 columns]
      Customer          SSN Birthdate  Age Region  CredCardUser  Income  \
0            1  539-84-9599  10.26.44   72   East           0.0   62900
1044      1045  715-28-2884  05.17.27   71  South           0.0   82400
485        486  364-94-9180  05.17.27   71   West           0.0  116500
493        494  085-32-5438  05.17.27   71   East           0.0  103700
1130      1131  602-63-2343  05.17.27   71  North           1.0   67800
...        ...          ...       ...  ...    ...           ...     ...
439        440  618-84-1169  10.19.28  -30   West           1.0  113600
1309      1310  380-84-2860  10.17.28  -30   West           0.0   91800
1194      1195  806-70-0226  10.14.28  -30   West           0.0   40600
425        426  968-16-0774  09.29.28  -30  North           0.0   68400
147        148  237-88-3817  08.11.29  -31  South           0.0   63800

      Purchases  AmountSpent
0             4         2080
1044          4         1850
485           2         1040
493           1          480
1130          3         1520
...         ...          ...
439           1          470
1309          2          980
1194          4         1960
425           2         1100
147           8         3960

[1500 rows x 9 columns]

In [ ]:
#4. Examine values based on specified conditions
print(df.Region == 'South')
south_count = (df.Region == 'South').sum()
print(f"Number of 'South' in 'Region': {south_count}")
#print(df.Purchases != 4)
purchases_not_four_count = (df.Purchases != 4).sum()
print(f"Number of purchases not equal to 4: {purchases_not_four_count}")
#print(df.Age > 40)
age_over_40_count = (df.Age > 40).sum()
print(f"Number of people over 40 years old: {age_over_40_count}")
# "<", ">=", "<=" 도 위와 동일하게 작동

##f-string을 사용하면 중괄호 {} 안에 직접 변수나 표현식을 넣어 동적으로 문자열을 생성할 수 있음
##이는 코드를 더 간결하고 읽기 쉽게 만들며, 성능면에서도 str.format() 방식보다 빠르다는 장점이 있음

0       False
1       False
2       False
3       False
4       False
        ...
1495    False
1496    False
1497    False
1498     True
1499     True
Name: Region, Length: 1500, dtype: bool
Number of 'South' in 'Region': 370
Number of purchases not equal to 4: 1231
Number of people over 40 years old: 943

In [ ]:
#5. Check and handle missing values
print(df.isnull())   #null 유무 확인
print(df.isnull().sum())   #변수별 null 개수 확인
print()

missing_value_rows = df[df.isnull().any(axis=1)]   #각 열을 따라서 하나라도 결측치가 있는 행을 출력
print(missing_value_rows)   #필터링된 행 출력
print()

missing_value_indexes = df[df.isnull().any(axis=1)].index   #결측치가 있는 행의 인덱스를 저장
df1 = df.fillna(1, inplace=False)   #결측치를 1로 채우고, 채워진 DataFrame을 df1로 저장 (inplace=False): 원데이터셋(df)는 건드리지 않음
filled_rows = df1.loc[missing_value_indexes]   #원래 결측치가 있었던 행만 불러오기
print(filled_rows)   #결과 출력
print()

df2 = df.dropna(inplace=False)   #결측치가 있는 행을 제거
remaining_indexes = df2.index   #df2에서 제거되지 않은 (즉, 남아 있는) 행의 인덱스를 가져옴
removed_indexes = missing_value_indexes.difference(remaining_indexes)   #원본 DataFrame의 결측치가 있었던 인덱스 중에서 제거된 인덱스만 추출
print(removed_indexes)   #결과 출력 (제거된 인덱스만 보여줌)

      Customer    SSN  Birthdate    Age  Region  CredCardUser  Income  \
0        False  False      False  False   False         False   False
1        False  False      False  False   False          True   False
2        False  False      False  False   False         False   False
3        False  False      False  False   False         False   False
4        False  False      False  False   False         False   False
...        ...    ...        ...    ...     ...           ...     ...
1495     False  False      False  False   False         False   False
1496     False  False      False  False   False         False   False
1497     False  False      False  False   False         False   False
1498     False  False      False  False   False         False   False
1499     False  False      False  False   False         False   False

      Purchases  AmountSpent
0         False        False
1         False        False
2         False        False
3         False        False
4         False        False
...         ...          ...
1495      False        False
1496      False        False
1497      False        False
1498      False        False
1499      False        False

[1500 rows x 9 columns]
Customer        0
SSN             0
Birthdate       0
Age             0
Region          0
CredCardUser    7
Income          0
Purchases       0
AmountSpent     0
dtype: int64

    Customer          SSN Birthdate  Age Region  CredCardUser  Income  \
1          2  444-05-4079  01.01.32   67   West           NaN   23300
6          7  638-89-7231  12.02.43   55  South           NaN   50900
18        19  645-20-8840  03.02.58   41   West           NaN  106300
30        31  564-00-1130  06.19.30   68   East           NaN  151000
40        41  006-59-5729  11.07.42   56   West           NaN   59100
53        54  081-96-6992  05.14.46   52  South           NaN   54500
77        78  928-03-6804  06.30.57   41  North           NaN   99000

    Purchases  AmountSpent
1           0            0
6           3         1400
18          2         1010
30          5         2460
40          7          460
53          8         4030
77          2         1010

    Customer          SSN Birthdate  Age Region  CredCardUser  Income  \
1          2  444-05-4079  01.01.32   67   West           1.0   23300
6          7  638-89-7231  12.02.43   55  South           1.0   50900
18        19  645-20-8840  03.02.58   41   West           1.0  106300
30        31  564-00-1130  06.19.30   68   East           1.0  151000
40        41  006-59-5729  11.07.42   56   West           1.0   59100
53        54  081-96-6992  05.14.46   52  South           1.0   54500
77        78  928-03-6804  06.30.57   41  North           1.0   99000

    Purchases  AmountSpent
1           0            0
6           3         1400
18          2         1010
30          5         2460
40          7          460
53          8         4030
77          2         1010

Int64Index([1, 6, 18, 30, 40, 53, 77], dtype='int64')

In [ ]:
#6. Check duplicated rows and values
print(df.duplicated('Region'))   #Region 변수 내 중복인 값을 True로 반환
print()
print(df.duplicated('Region').sum())   #Region 변수 내 중복 값을 가지는 관찰값의 수
print()
print(df.value_counts('Region'))   #각 중복데이터의 개수
print()
df3 = df.drop_duplicates('Region')   #중복데이터가 포함된 행 제거
print(df3)

0       False
1       False
2       False
3        True
4        True
        ...
1495     True
1496     True
1497     True
1498     True
1499     True
Length: 1500, dtype: bool

1492

Region
South     370
East      350
West      338
North     322
 South     37
 East      35
 North     24
 West      24
dtype: int64

    Customer          SSN Birthdate  Age  Region  CredCardUser  Income  \
0          1  539-84-9599  10.26.44   72    East           0.0   62900
1          2  444-05-4079  01.01.32   67    West           NaN   23300
2          3  418-18-5649  08.17.73   25    East           1.0   48700
6          7  638-89-7231  12.02.43   55   South           NaN   50900
8          9  266-29-0308  09.28.67   31   North           0.0  151400
22        23  943-09-9693  12.08.76   22   North           1.0  150500
33        34  659-67-6522  02.03.42   57    West           0.0   43800
78        79  563-59-2002  12.25.44   54   South           0.0   32200

    Purchases  AmountSpent
0           4         2080
1           0            0
2           8         3990
6           3         1400
8           2          910
22          0            0
33          1          510
78          6         3350

In [ ]:
#7. Change values of certain variables into other type
#날짜 형식 변환
import datetime as dt

current_year = dt.datetime.now().year   #현시점의 연도를 저장

df['Birthdate'] = df['Birthdate'].astype(str).apply(
    lambda x: dt.datetime.strptime(f"{x.split('.')[0]}.{x.split('.')[1]}.{current_year - int(x.split('.')[2])}", "%m.%d.%Y")
    if len(x.split('.')) == 3 else pd.NaT   #3개의 요소, 즉 월.일.나이 형식을 따르지 않는 경우 결측된 값을 반환 (오류 예방)
)
df

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
0,1,539-84-9599,1980-10-26,72,East,0.0,62900,4,2080
1,2,444-05-4079,1992-01-01,67,West,NaN,23300,0,0
2,3,418-18-5649,1951-08-17,25,East,1.0,48700,8,3990
3,4,065-63-3311,1977-08-02,51,West,1.0,137600,2,920
4,5,059-58-9566,1976-10-03,50,East,0.0,101400,2,1000
...,...,...,...,...,...,...,...,...,...
1495,1496,347-70-0762,1959-09-28,33,West,0.0,71800,2,970
1496,1497,638-19-2849,1994-07-31,68,South,0.0,121100,5,2540
1497,1498,670-57-4549,1970-07-21,44,North,1.0,64000,4,2160
1498,1499,166-84-2698,1958-10-30,32,South,0.0,91000,6,2910
1499,1500,366-03-5021,1990-09-23,64,South,0.0,121400,1,530

In [ ]:
#7. Change values of certain variables into other type
#Age 내 음수값 양수값으로 변환
print(df.loc[df['Age'] < 0])   #Age 변수 내 음수값을 가지는 관찰값 확인
df['Age'] = df['Age'].abs()  #Age 변수 내 음수값을 양수값으로 변환
print(df.loc[df['Age'] < 0])   #Age 변수 내 음수값이 제거된 것 확인

      Customer          SSN  Birthdate  Age Region  CredCardUser  Income  \
147        148  237-88-3817 1995-08-11  -31  South           0.0   63800
228        229  964-27-4755 1997-01-29  -28   East           0.0   26700
323        324  133-99-5496 1996-05-13  -30  North           0.0  142500
425        426  968-16-0774 1996-09-29  -30  North           0.0   68400
439        440  618-84-1169 1996-10-19  -30   West           1.0  113600
588        589  776-44-8345 1997-04-16  -29   West           1.0   59300
823        824  376-25-7809 1997-11-02  -29  North           1.0    9999
921        922  329-51-3208 1996-03-21  -29   East           1.0   35400
1036      1037  594-47-1955 1999-08-10  -27   East           1.0  128300
1088      1089  808-29-7482 1997-02-28  -28  South           0.0   90000
1194      1195  806-70-0226 1996-10-14  -30   West           0.0   40600
1309      1310  380-84-2860 1996-10-17  -30   West           0.0   91800

      Purchases  AmountSpent
147           8         3960
228           1          450
323           2         1000
425           2         1100
439           1          470
588           2         1030
823           2         1070
921           6         3000
1036          3         1510
1088          5         2580
1194          4         1960
1309          2          980
Empty DataFrame
Columns: [Customer, SSN, Birthdate, Age, Region, CredCardUser, Income, Purchases, AmountSpent]
Index: []

In [ ]:
#8. Find problems and correct them
for i, column in df.iterrows():
  if df.at[i, 'Income'] < 9999:   #모든 행을 확인하면서 Income 변수의 값이 9999보다 작은 경우 아래를 수행
    df.at[i, 'Income'] = df.at[i, 'Income']*1000   #9999보다 작은 값에 1000을 곱하여 반환
df

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
0,1,539-84-9599,1980-10-26,72,East,0.0,62900,4,2080
1,2,444-05-4079,1992-01-01,67,West,NaN,23300,0,0
2,3,418-18-5649,1951-08-17,25,East,1.0,48700,8,3990
3,4,065-63-3311,1977-08-02,51,West,1.0,137600,2,920
4,5,059-58-9566,1976-10-03,50,East,0.0,101400,2,1000
...,...,...,...,...,...,...,...,...,...
1495,1496,347-70-0762,1959-09-28,33,West,0.0,71800,2,970
1496,1497,638-19-2849,1994-07-31,68,South,0.0,121100,5,2540
1497,1498,670-57-4549,1970-07-21,44,North,1.0,64000,4,2160
1498,1499,166-84-2698,1958-10-30,32,South,0.0,91000,6,2910
1499,1500,366-03-5021,1990-09-23,64,South,0.0,121400,1,530

In [ ]:
#9. Change values into suitable types for analysis
print(df.describe()[['Purchases']])   #Purchases 변수의 분포 확인
df_drop = df.drop(df.loc[df['Purchases']==9999].index, axis=0, inplace=False)    #Purchases 변수 내 9999값을 가지는 행 제거
print(df_drop.describe()[['Purchases']])    #제거 후 Purchases 변수의 분포 확인

df.drop(df_drop.loc[df_drop['Purchases' or 'AmountSpent']==0].index, axis=0, inplace=True)   #타겟 고객이 아닌 대상 제거(구매 또는 소비액=0)
df_add = df_drop.assign(Average = df_drop['AmountSpent']/df_drop['Purchases'])   #고객별 구매 시 평균 지출액 확인
df_add

        Purchases
count  1432.00000
mean    128.73743
std    1114.01839
min       1.00000
25%       2.00000
50%       3.00000
75%       4.00000
max    9999.00000
         Purchases
count  1414.000000
mean      3.090523
std       1.548100
min       1.000000
25%       2.000000
50%       3.000000
75%       4.000000
max       9.000000

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent,Average
0,1,539-84-9599,1980-10-26,72,East,0.0,62900,4,2080,520.00
2,3,418-18-5649,1951-08-17,25,East,1.0,48700,8,3990,498.75
3,4,065-63-3311,1977-08-02,51,West,1.0,137600,2,920,460.00
4,5,059-58-9566,1976-10-03,50,East,0.0,101400,2,1000,500.00
5,6,443-13-8685,1964-03-24,39,East,0.0,139700,1,550,550.00
...,...,...,...,...,...,...,...,...,...,...
1495,1496,347-70-0762,1959-09-28,33,West,0.0,71800,2,970,485.00
1496,1497,638-19-2849,1994-07-31,68,South,0.0,121100,5,2540,508.00
1497,1498,670-57-4549,1970-07-21,44,North,1.0,64000,4,2160,540.00
1498,1499,166-84-2698,1958-10-30,32,South,0.0,91000,6,2910,485.00
1499,1500,366-03-5021,1990-09-23,64,South,0.0,121400,1,530,530.00